@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-size: 18px;
}

/*Primeira sessão*/
#container{
  height: 75vh !important;
}

#textoInicial{
  padding: 20px;
  margin-top: 8%;
  z-index: 2;
}
#textoInicial p{
  padding: 10px;
}

#inicio{
  position: absolute;
  background: url("./imagem-inicio.jpg");
  background-size: cover ;
  width: 100%;
  height: 75vh !important;
  z-index: 1;
}

#nav {
  background: rgb(240, 201, 201);
}
#textoInicial{
  background: rgb(240, 201, 201);
}


/*Segunda sessão*/




#box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f0c9c9;
  height: 47vh !important;
}

#box img{
  border-radius: 50%;
  width: 15%;
  margin-top: 30px;
  margin-bottom: 20px;
}

#terceiraSessao{
  background: #f0c9c9;
  height: 47vh !important;
}

.cards{
  background: #004959;
  border-radius: 5px;
  border: 1px solid black;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  padding-top: 10px;
  color: #F0C9C9;
}

.cor3s{
  background-color:#F0C9C9;
}

i{
  transition: 1s;
}
i:hover{
  color: #004959;
  transition: 1s;
}

#cards{
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  #box img{
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  #textoInicial p{
    padding: 8px;
    font-size: 0.9rem;
  }
  #box img{
    width: 30%;
  }
  #cards p{
    font-size: 0.2rem;
  }
}

@media only screen and (max-width: 750px) {
  #textoInicial p{
    padding: 8px;
    font-size: 0.9rem;
  }
  #box img{
    width: 30%;
  }
  #cards p{
    font-size: 0.8rem;
  }
  #cards h3{
    font-size: 0.9rem;
  }
}


@media only screen and (max-width: 600px) {
  #textoInicial p{
    padding: 7px;
    font-size: 0.8rem;
  }
  #box img{
    width: 38%;
  }

}

@media only screen and (max-width: 530px) {
  #textoInicial p{
    padding: 7px;
    font-size: 1rem;
  }
  #box img{
    width: 45%;
  }
  .cards{
    height: 350px;
  }
}

@media only screen and (max-width: 460px) {
  #textoInicial p{
    padding: 7px;
    font-size: 0.8rem;
  }
  *{
    font-size: 17px;
  }
}

@media only screen and (max-width: 370px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.8rem;
  }
  *{
    font-size: 15px;
  }
  #cards{
    margin-top: 5px;
  }
}

@media only screen and (max-width: 350px) {
  #textoInicial p{
    font-size: 0.9rem;
  }
  *{
    font-size: 14px;
  }
}


