@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
}


/*Primeira sessão*/
#container{
  height: 75vh !important;
}

#textoInicial{
  padding: 20px;
  margin-top: 15%;
  z-index: 2;
}

#textoInicial p{
  padding: 10px;
}

#inicio{
  position: absolute;
  background: url("./imagem-inicio.jpg");
  background-size: cover ;
  width: 100%;
  height: 100vh !important;
  z-index: 1;
}

#nav {
  background: rgb(240, 201, 201);
}
#textoInicial{
  background: rgb(240, 201, 201);
}


/*Segunda sessão*/
#box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f0c9c9;
  height: 47vh !important;
}

#box img{
  border-radius: 50%;
  width: 15%;
  margin-top: 30px;
  margin-bottom: 20px;
  animation: fade ;
  animation-timeline: view();
}

#segundaSessao{
  margin-top: 25vh;
}

#terceiraSessao{
  background: #f0c9c9;
  height: 47vh !important;
}

.cards{
  background: #004959;
  border-radius: 5px;
  border: 1px solid black;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  padding-top: 10px;
  color: #F0C9C9;
  margin: 10px;
  transition: 1s;
}
.cards:hover{
  box-shadow: 2px 2px 10px 5px #0000009f;
  transition: 1s;
}
.cor3s{
  background-color:#F0C9C9;
}

i{
  transition: 1s;
}
i:hover{
  color: #004959;
  transition: 1s;
}

#cards{
  margin-top: 20px;
  animation: fade ;
  animation-timeline: view();
}

#quartaSessao{
  padding: 50px;
 
}

#quartaSessao .caixaTexto{
  text-align: center;
  padding: 50px;
}

.caixaTexto h1{
  color:white
}

#boxServicos{
  animation: teste 3s cover;
}

#boxServicos{
  animation: appear 1ms ease-in-out;
  animation-timeline: view();
  animation-range:cover 0% cover 28% ;

}

.terapia-casal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F0C9C9;
}

#imgCasal{
  width: 100%;
}



@keyframes appear{
  from{
    opacity: 0;
    translate: -100vw 0;
  }
  to{
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fade{
 0%{
  opacity: 0;
  transform: translate();
 }
 65%{
  opacity: 1;
  transform: translate();
 }
}

@media only screen and (max-width: 980px) {
  #box img{
    width: 30%;
  }
  #textoInicial{
    margin-top: 20%;
  }
}

@media only screen and (max-width: 800px) {
  #textoInicial p{
    padding: 8px;
    font-size: 0.9rem;
  }
  #box img{
    width: 30%;
  }
  #cards p{
    font-size: 0.9rem;
  }
  #textoInicial{
    margin-top: 24%;
  }
  .textoCasal h1{
    font-size: 1rem;
  }
  .textoCasal h3{
    font-size: 0.9rem;
  }
  .textoCasal h4{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 750px) {
  #textoInicial p{
    padding: 8px;
    font-size: 1rem;
  }
  #box img{
    width: 30%;
  }
  #cards p{
    font-size: 1.1rem;
  }
  #cards h3{
    font-size: 0.9rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
  #box{
    height: 35vh !important;
  }

}


@media only screen and (max-width: 600px) {
  #textoInicial p{
    padding: 7px;
    font-size: 1rem;
  }
  #box img{
    width: 38%;
  }
  #box{
    height: 35vh !important;
  }
  #textoInicial{
    margin-top: 30%;
  }
  .cards{
    height: 300px;
    margin-bottom: 10px;
  }
  #cards p{
    font-size: 0.9rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 20%;
  }
  #box{
    height: 35vh !important;
  }
  #boxServicos h1{
    font-size: 1.2rem;
  }
  #boxServicos  h3{
    font-size: 1rem;
  }
  #boxServicos p{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 680px) {
  .p-0{
    display: none;
  }
  #textoCasal{
    margin-top: 20px;
  }
}

    
@media only screen and (max-width: 560px) {
  #textoInicial p{
    padding: 7px;
    font-size: 1rem;
  }
  #box img{
    width: 45%;
  }
  .cards{
    height: 350px;
  }
  #cards p{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 18%;
  }
  .cards{
    height: 330px;
    margin-bottom: 10px;
  }
  #box{
    height: 54vh !important;
  }
}

@media only screen and (max-width: 475px) {
  #textoInicial p{
    padding: 7px;
    font-size: 0.9rem;
  }
  *{
    font-size: 17px;
  }
  #textoInicial{
    margin-top: 25%;
  }
  .cards{
    height: 400px;
  }
  #box{
    height: 45vh !important;
  }
}

@media only screen and (max-width: 375px) {
  #textoInicial p{
    padding: 4px;
    font-size: 1rem;
  }
  *{
    font-size: 15px;
  }
  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 17%;
  }
  .cards{
    height: 300px;
    margin-bottom: 10px;
  }
  #cards p{
    font-size: 0.9rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
  #box{
    height: 44vh !important;
  }
}

@media only screen and (max-width: 350px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.9rem;
  }
  *{
    font-size: 15px;
  }
  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 35%;
  }
  
}

@media only screen and (max-width: 320px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.9rem;
  }
  *{
    font-size: 15px;
  }
  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 15%;
  }
  #cards p{
    font-size: 0.8rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 35%;
  }
}

@media only screen and (max-width: 290px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.9rem;
  }
  *{
    font-size: 15px;
  }
  #textoInicial{
    margin-top: 20%;
  }

  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 0%;
  }
  #cards p{
    font-size: 0.8rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 35%;
  }
}

@media only screen and (max-width: 260px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.8rem;
  }
  *{
    font-size: 15px;
  }
  #textoInicial{
    margin-top: 40%;
  }

  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 17%;
  }
  #cards p{
    font-size: 0.8rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
}

@media only screen and (max-width: 237px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.8rem;
  }
  *{
    font-size: 15px;
  }
  #textoInicial{
    margin-top: 40%;
  }

  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 17%;
  }
  #cards p{
    font-size: 0.7rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
  .cards{
    height: 270px;
  }
  #box{
    height: 40vh !important;
  }
}


@media only screen and (max-width: 217px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.7rem;
  }
  *{
    font-size: 15px;
  }
  #textoInicial{
    margin-top: 40%;
  }

  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 17%;
  }
  #cards p{
    font-size: 0.6rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
  .cards{
    height: 220px;
  }
  #box{
    height: 40vh !important;
  }
}