
#containerbox,#containerbox2{

    /*Containe pai*/
    background: #731425;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /*Container filho*/
    .box-img{
        background-image: url("../img/pontronas.jpeg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        width: 80vw;
        height: 60vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        .box-text{
            width: 50vw;
            height: 30vh;
            position: absolute;
            background: #f0c9c9e4;
            border-radius: 10px;
            padding: 15px;
            
            color: #731425;
        }
    }
}

#containerbox2{
    background: #440510;

    .box-img{
        background: #f0c9c9e4;
    }

}

@media only screen and (max-width: 768px) {
    .box-img{
        .box-text{
            width: 60vw !important;
            height: 35vh !important;
            h1{
                font-size: max(1.3rem, 1vw);
            }
            h2{
                font-size: max(1.1rem, 1vw);
            }
            p{
                font-size: max(0.7rem, 1vw);
                
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .box-img{
        width: 100vw !important;
        .box-text{
            width: 80vw !important;
            height: 35vh !important;
            h1{
                font-size: max(1.1rem, 1vw);
            }
            h2{
                font-size: max(0.9rem, 1vw);
            }
            p{
                font-size: max(0.6rem, 1vw);
                
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .box-img{
        width: 100vw !important;
        .box-text{
            width: 80vw !important;
            height: 35vh !important;
            h1{
                font-size: max(1.1rem, 1vw);
            }
            h1{
                font-size: max(0.9rem, 1vw);
            }
            p{
                font-size: max(0.55rem, 1vw);
                
            }
        }
    }
}
