
.page1{
    background: #29090f;
}
.page2{
    background-color: #F0C9C9;
}
.page3{
    background-color: #D99B96;
    color: #29090f;
}
.page4{
    background-color: #F0C9C9;
    color: #6f2723;
}
.page5{
    background-color: #fccbb6;
}

.page1, .page2, .page3, .page4{
    height: 100vh;
    display: flex;
    align-items: center;
    .col-xxl-5{
        margin-left: 35vw;
        background: #f0c9c9f0;
        color: #460404;
        font-weight: 400;
        padding: 20px;
        border-radius: 5px;
        border: solid 1px black;
        box-shadow: 5px 7px #0000006c;
        z-index: 1;
    }
}

#imagem-fundo-page1{
    position: absolute;
    left: 0;
    background-image: url("../img/pontrona-sala-interior.jpeg");
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    z-index: 0;
    background-attachment: fixed;
}

#imagem-fundo-page2{
    position: absolute;
    right: 0;
    background-image: url("../img/pontronas.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 50%;
    height: 100vh;
    z-index: 0;
    background-attachment: fixed;
}


