
.page1{
    background-color: #f0cfc9b9;
}
.page2{
    background-color: rgb(206, 64, 64);
}
.page3{
    background-color: rgb(194, 90, 90);
}
.page4{
    background-color: rgb(196, 106, 106);
}
.box-container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y:scroll ;
}

section{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 100vh;
    flex-direction: column;
    text-align: left;
    color: #490612;
}

section {
    div{

        h1{
            font-weight: 500;
        }
        p{
            font-size: max(1.3em, 1vw);
        }
    }
}


@media only screen and (max-width: 768px){
    .page1{
        .col-xxl-5{
            p{
                font-size: max(1.2em, 1vw);
            }
        }
    }
    
}

@media only screen and (max-width: 425px){
    .page1{
        .col-xxl-5{
            p{
                font-size: max(1em, 1vw);
            }
        }
    }
    
}

@media only screen and (max-width: 320px){
    section{
        display: flex;
        justify-content:unset;
        
    }
    .page1{
        .col-xxl-5{
            p{
                font-size: max(0.8em, 1vw);
            };
            margin-top: 10vh;
        }
    }
    
}