
@media only screen and (max-width: 1024px){
    #cards{
      margin: 3px;
      height: 340px; 
    }
  }
  
  @media only screen and (max-width: 980px) {
    #box img{
      width: 30%;
    }

    #terceiraSessao{
      padding-top: 80px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    #textoInicial p{
      padding: 8px;
    }
    #box img{
      width: 30%;
    }

  
    #cards{
      height: 230px;
      margin:4px;
      
    }

    #terceiraSessao{
      padding-top: 80px;
    }
  
  }
  
  
  @media only screen and (max-width: 768px) {
    #textoInicial p{
      padding: 8px;
    }
    #box img{
      width: 30%;
    }
 

    #box{
      height: 35vh !important;
    }
    #quartaSessao{
      padding: 10px;
    }
    #quartaSessao .caixaTexto{
      text-align: center;
      padding: 10px;
     
    }
    .cor3s{
      padding-top: 120px;
    }
    #terceiraSessao{
      padding-top: 20px;
    }

    svg{
      width: 20px;
      height: 20px;
    }
    #ultima-sessao h4{
      
      padding: 0vh;
    }
    #ultima-sessao h1{
      
      padding: 0vh;
    }
    .ultima-sessao{
      height: 60vh;
    }
    #avaliacaoPsc{
      height: 60vh;
    }
    #textoTerapiaCasal{
      height: 65vh;
    }
    .primeirosContatos{ 
      padding: 20px;

      #btnPrimeirosContatos{
        width: 40vw;
      }
    }
    

    /*Responsividade das fontes, cuidado!*/
    #textoInicial{
      p{
        font-size: max(0.9rem, 1vw);
      }
    }
    #cards{
      h3{
        font-size: max(1.2rem, 0.2vw);
        
      }
      p{
        font-size: max(0.7rem, 1vw);
      }
    }
    #textoCasal{
      h1{
        font-weight: 900
      };
      h3{
       
        font-weight: 700
      };
    }
    #avaliacaoPsc{
      h1{
        font-size: max(1.4rem, 0.2vw);
        
      }
      p{
        font-size: max(0.9rem, 1vw);
      }
    }
    #textoCasal{
      h1{
        font-size: max(1.4rem, 0.2vw);
        
      }
      p{
        font-size: max(0.9rem, 1vw);
      }
    }
    #boxServicos{
      h1{
        font-size: max(1.4rem, 0.2vw);
      }
      h3{
        font-size: max(1.1rem, 0.2vw);
      }
    }
    div{
      h1{
        font-size: max(1.8rem, 0.2vw);
      }
      h2{
        font-size: max(1.3rem, 0.2vw);
      }
      h3{
        font-size: max(1.3rem, 0.2vw);
      }
      h4{
        font-size: max(1.3rem, 0.2vw);
      }
    } 
    p{
      font-size: max(0.9rem, 1vw);
    }
    #nav{
      font-size: max(0.9rem, 1vw);
    }
    #cont-links{
      span{
        font-size: max(0.9rem, 1vw);
      }
    }
  }
  
  @media only screen and (max-width: 680px) {
    #textoCasal{
      margin-top: 20px;
    }
    #cards{
      h3{
        font-size: max(1.2rem, 0.2vw);
        
      }
      p{
        font-size: max(0.9rem, 1vw);
      }
    }
  }
  
  @media only screen and (max-width: 630px) {
    #textoInicial p{
      padding: 7px;
     
    }
   
    #box img{
      width: 38%;
    }
    #box{
      height: 35vh !important;
    }
   
    .cards{
      height: 290px !important;
      margin-bottom: 10px;
    }
   
 
    #box{
      height: 35vh !important;
    }
    #quartaSessao .caixaTexto{
      text-align: center;
      padding: 15px;
    }
  }
  
  
  
      
  @media only screen and (max-width: 550px) {
    #textoInicial p{
      padding: 7px;
     
    }
   
    #box img{
      width: 45%;
    }
    .cards{
      height: 350px;
    }
   

    .cards{
      height: 330px;
      margin-bottom: 10px;
    }
    #box{
      height: 54vh !important;
    }
    .p-0{
      display: none;
    }
    #terceiraSessao{
      padding-top: 0px;
    }
    .cor3s{
      padding-top: 20px;
    }

    .primeirosContatos{ 
      padding: 20px;

      #btnPrimeirosContatos{
        width: 50vw;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    #textoInicial p{
      padding: 7px;
     
    }
    
    #box{
      height: 45vh !important;
    }
    .cor3s{
      padding-top:60px;
    }
   
    .terapia{
      height: 35%;
    }
    #ultima-sessao{
      height: 30vh;
    }
  
    #ultima-sessao h4{
    
      padding: 0vh;
    }
    #ultima-sessao{
      h4{
        font-size: max(1rem, 1vw);
        
      }
    }
    span{
      font-size: max(1rem, 1vw);
      
    }
    #cards{
      h3{
        font-size: max(1.2rem, 0.2vw);
        
      }
      p{
        font-size: max(0.8rem, 1vw);
      }
    }
  }

  @media only screen and (max-width: 412px) {
    #terceiraSessao{
      #cards{
        h3{
          font-size: max(1.2rem, 0.2vw);
          
        }
        p{
          font-size: 0.8rem;
        }
      }
      .cor3s{
        padding-top:0px;
      }
    }
    
  }


  
  @media only screen and (max-width: 375px) {
    #textoInicial p{
      padding: 4px;
     
    }
    #cards{
      margin-top: 5px;
    }
    .cards{
      height: 300px;
      margin-bottom: 10px;
    }
   
 
    #box{
      height: 44vh !important;
    }
    #quartaSessao .caixaTexto{
      padding: 25px;
    }
    
    #ultima-sessao{
      height: 30vh;
    }
  
    #ultima-sessao h4{
      
      padding: 0vh;
    }
    
     #textoCasal{
      h1{
        
        font-weight: 900
      };
      h3{
       
        font-weight: 700
      };
     
    }

    .primeirosContatos{ 
      padding: 20px;
      height: 30vh;

      #btnPrimeirosContatos{
        width: 60vw;
      }
    }
  }


  @media only screen and (max-width: 384px) {
    #textoInicial p{
      padding: 4px;
      font-size: 0.9rem;
    }
    
    #cards{
      margin-top: 0px;
    }
    .linha-textoInicial{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    #ultima-sessao{
      height: 30vh;
    }
    #ultima-sessao h4{
     
      padding: 0vh;
    }
  
   .cor3s{
    padding-top:0px;
    }
  }

  
  @media only screen and (max-width: 350px) {
    #textoInicial p{
      padding: 4px;
    
    }
    
    #cards{
      margin-top: 5px;
    }

    #ultima-sessao{
      height: 30vh;
    }
    #ultima-sessao h4{
     
      padding: 0vh;
    }
  
   .cor3s{
    padding-top:10px;
  }
  }
  
  @media only screen and (max-width: 320px) {
    #textoInicial p{
      padding: 4px;
      font-size: 0.75rem;
      
    }
   
    #cards{
      margin-top: 5px;
    }

  
    #quartaSessao{
      padding: 15px;
    }
    #quartaSessao .caixaTexto{
      padding: 0px;
    }
   
    #boxServicos p{
      margin-top: 20px;
    }
    #ultima-sessao{
      height: 30vh;
    }
  
    #ultima-sessao h4{
      padding: 0vh;
    }
    #nav{
      a{
        font-size: max(1rem, 1vw);
      }
      li{
        font-size: max(1rem, 1vw);
      }
      
    }
    #cards{
      h3{
        font-size: max(1.2rem, 0.2vw);
        
      }
      p{
        font-size: max(0.75rem, 1vw);
      }
    }

    .primeirosContatos{ 
      padding: 20px;
      height: 30vh;

      h2{
        font-size: 1rem;
      }

      #btnPrimeirosContatos{
        width: 60vw;
        font-size: 0.8rem;
      }
    }
  }
  
  @media only screen and (max-width: 290px) {
    #textoInicial {
      h1{
        font-size: max(1.2rem, 0.2vw);
      }
      h4{
        font-size: max(1rem, 0.2vw);
      }
      p{
        padding: 2px;
        font-size: max(0.75rem, 1vw);
      }
    }
  

  
    #cards{
      margin-top: 5px;
    }
    #textoInicial{
      margin-top: 25%;
    }
    #ultima-sessao{
      height: 30vh;
    }
  
    #ultima-sessao h4{
      
      padding: 0vh;
    }
  
     #textoCasal{
        h1{
          
          font-weight: 900
        };
        h3{
         
          font-weight: 700
        };
    }
    #nav{
      a{
        font-size: max(0.9rem, 1vw);
      }
      li{
        font-size: max(0.9rem, 1vw);
      }
      
    }
    #cards{
      h3{
        font-size: max(1.2rem, 0.2vw);
        
      }
      p{
        font-size: max(0.64rem, 1vw);
      }
    }
  }
  
  @media only screen and (max-width: 260px) {
    #textoInicial {
      h1{
        font-size: max(1.2rem, 0.2vw);
      }
      h4{
        font-size: max(1rem, 0.2vw);
      }
      p{
        padding: 2px;
        font-size: max(0.75rem, 1vw);
      }
    }
   

  
    #cards{
      margin-top: 5px;
    }
    #textoInicial{
      margin-top: 2%;
    }
    #textoInicial{
      margin-top: 25%;
    }
    #ultima-sessao{
      height: 30vh;
    }
  
    #ultima-sessao h4{
      
      padding: 0vh;
    }
   
     #textoCasal{
        h1{
          
          font-weight: 900
        };
        h3{
         
          font-weight: 700
        };
        
    }
    #nav{
      a{
        font-size: max(0.7rem, 1vw);
      }
      li{
        font-size: max(0.7rem, 1vw);
      }
    }


    .primeirosContatos{ 
      padding: 20px;
      height: 30vh;

      h2{
        font-size: 1rem;
      }

      #btnPrimeirosContatos{
        width: 70vw;
        font-size: 0.8rem;
      }
    }
  }
  
  @media only screen and (max-width: 237px) {
    #textoInicial {
      h1{
        font-size: max(1.2rem, 0.2vw);
      }
      h4{
        font-size: max(0.8rem, 0.2vw);
      }
      p{
        padding: 2px;
        font-size: max(0.7rem, 1vw);
      }
    }

  
    #cards{
      margin-top: 5px;
    }
    #textoInicial{
      margin-top: 17%;
    }
    #textoInicial{
      margin-top: 25%;
    }
    .cards{
      height: 270px;
    }
    #box{
      height: 40vh !important;
    }
    #ultima-sessao{
      height: 30vh;
    }
    #nav{
      a{
        font-size: max(0.7rem, 1vw);
      }
      li{
        font-size: max(0.7rem, 1vw);
      }
      
    }
  }
  
  @media only screen and (max-width: 217px) {
    #textoInicial p{
      padding: 4px;
      
    }
   
    #cards{
      margin-top: 5px;
    }
    #textoInicial{
      margin-top: 17%;
    }
   
    #textoInicial{
      margin-top: 25%;
    }
    .cards{
      height: 220px;
    }
    #box{
      height: 40vh !important;
    }
  }
  
