@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  cursor: default;
}

body { overflow-x: hidden; }

/*Primeira sessão*/
#container{
  height: 75vh !important;
}

#textoInicial{
  padding: 20px;
  margin-top: 15%;
  z-index: 2;
}

#textoInicial p{
  padding: 10px;
}

#inicio{
  position: absolute;
  background: url("../img/imagem-inicio.jpg");
  background-size: cover ;
  width: 100%;
  height: 100vh !important;
  z-index: 1;
}

#nav {
  background: rgb(240, 201, 201);
  color: #460404;;
}
#textoInicial{
  background: rgb(240, 201, 201);
  color: #460404;;
}


/*Segunda sessão*/
#box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f0c9c9;
  height: 47vh !important;
}

#box img{
  border-radius: 50%;
  width: 15%;
  margin-top: 30px;
  margin-bottom: 20px;
  animation: fade ;
  animation-timeline: view();
}

#segundaSessao{
  margin-top: 25vh;
}

#terceiraSessao{
  background: #f0c9c9;
  height: 47vh !important;
}

.cards{
  background: #731425;
  border-radius: 5px;
  border: 1px solid black;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  padding-top: 10px;
  color: #F0C9C9;
  margin: 10px;
  transition: 1s;
}
.cards:hover{
  box-shadow: 2px 2px 10px 5px #0000009f;
  transition: 1s;
}
.cor3s{
  background-color:#F0C9C9;
}

i{
  transition: 1s;
}
span i:hover{
  font-size: 1.2rem;
  cursor: default;
}

#cards{
  margin-top: 20px;
  animation: fade ;
  animation-timeline: view();
}

#quartaSessao{
  padding: 50px;
  background: #D99B96;
}

#quartaSessao .caixaTexto{
  text-align: center;
  padding: 50px;
}

#boxServicos h1{
  color: #731425;
  font-weight: 800;
}

#boxServicos h3{
  color: #731425;
  font-weight: 700;
}
#boxServicos p{
  color: #731425;
  text-decoration: dashed;
  font-weight: 600;
}



#boxServicos{
  animation: teste 3s cover;
}

#boxServicos{
  animation: appear 1ms ease-in-out;
  animation-timeline: view();
  animation-range:cover 0% cover 28% ;

}

.terapia-casal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F0C9C9;
  color: #731425;
}

.terapia{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #731425;
  height: 50vh;
  color: #F0C9C9;
}

#imgCasal{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("../img/imagem-atendimento.jpg");
  transition: 0.5s;
  filter: blur(2px);
  transform: scale(-4px);
}

.avaliacao{
  overflow: hidden;
}

#imgCasal:hover{
  filter: blur(0px);
  transform: scale(6px);
  transition: 0.5s;
}

#carouselExampleIndicators{
  height: 45vh;
    display: flex;
    align-items: center;
}

#carousel h4{
  padding-left: 20vw;
  padding-right: 20vw;
}

#sextaSessao{
  background: #460404;
  color: #F0C9C9;
}

#textoTerapiaCasal{
  animation: appear2 1ms ease-in-out;
  animation-timeline: view();
  animation-range:cover 0% cover 28% ;
}

#avaliacaoPsc{
  animation: appear3 1ms ease-in-out;
  animation-timeline: view();
  animation-range:cover 0% cover 28% ;
}

#ultima-sessao{
  background: #ffe0dc;
  color: #460404;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.ultima-sessao{
  background: #ffe0dc;
}

#cont-links{
  margin-top: 20px;
  cursor: pointer;
}

#cont-links2{
  margin-top: 10px;
  cursor: pointer;
  transition: 1s;
}

#cont-links svg{
  margin: 10px;
  transition: 1s;
  cursor: pointer;
}

svg:hover{
  color: #cc8282;
  transition: 1s;
}

@keyframes appear{
  from{
    opacity: 0;
    translate: 100vw 0;
  }
  to{
    opacity: 1;
    translate: 0vh 0;
  }
}

@keyframes appear2{
  from{
    opacity: 0;
    translate: -100vw 0;
  }
  to{
    opacity: 1;
    translate: 0vh 0;
  }
}

@keyframes appear3{
  from{
    opacity: 0;
    translate: 100vw 0;
  }
  to{
    opacity: 1;
    translate: 0vh 0;
  }
}

@keyframes fade{
 0%{
  opacity: 0;
  transform: translate();
 }
 65%{
  opacity: 1;
  transform: translate();
 }
}

@media only screen and (max-width: 1024px){
  #cards h3{
    font-size: 1rem;
  }
  #cards p{
    font-size: 0.7rem;
  }
  #cards{
    margin: 3px;
    height: 340px; 
  }
}

@media only screen and (max-width: 980px) {
  #box img{
    width: 30%;
  }
  #textoInicial{
    margin-top: 20%;
  }
  .textoCasal h1{
    font-size: 1rem;
  }
  .textoCasal h3{
    font-size: 0.9rem;
  }
  .textoCasal h4{
    font-size: 0.9rem;
  }
  #terceiraSessao{
    padding-top: 80px;
  }
}

@media only screen and (max-width: 800px) {
  #textoInicial p{
    padding: 8px;
    font-size: 0.9rem;
  }
  #box img{
    width: 30%;
  }
  #cards p{
    font-size: 0.9rem;
  }
  #textoInicial{
    margin-top: 24%;
  }
  .textoCasal h1{
    font-size: 1rem;
  }
  .textoCasal h3{
    font-size: 0.9rem;
  }
  .textoCasal h4{
    font-size: 0.9rem;
  }

  #cards{
    height: 230px;
    margin:4px;
    
  }
  #cards h3{
    font-size: 1.1rem;
  }
  #cards p{
    font-size: 0.8rem;
  }
  #terceiraSessao{
    padding-top: 80px;
  }

}


@media only screen and (max-width: 768px) {
  #textoInicial p{
    padding: 8px;
    font-size: 0.8rem;
  }
  #textoInicial h1{
    font-size: 1.3rem;
  }
  #box img{
    width: 30%;
  }
  #cards p{
    font-size: 1.1rem;
  }
  #cards h3{
    font-size: 0.9rem;
  }
  #textoInicial{
    margin-top: 15%;
  }
  #box{
    height: 35vh !important;
  }
  #quartaSessao{
    padding: 10px;
  }
  #quartaSessao .caixaTexto{
    text-align: center;
    padding: 10px;
    font-size: 10px;
  }
  #quartaSessao .caixaTexto h1{
    font-size: 1.1rem;
  }
  #quartaSessao .caixaTexto h3{
    font-size: 1.1rem;
  }
  #boxServicos p{
    font-size: 0.9rem;
  }
  #cards h3{
    font-size: 1.1rem;
  }
  #cards p{
    font-size: 0.75rem;
  }
  .cor3s{
    padding-top: 120px;
  }
  #terceiraSessao{
    padding-top: 20px;
  }
  #cont-links span{
    font-size: 0.9rem;
  }
  #cont-links2 span{
    font-size: 0.9rem;
  }
  svg{
    width: 20px;
    height: 20px;
  }
  #ultima-sessao h4{
    font-size: 0.9rem;
    padding: 0vh;
  }
  #ultima-sessao h1{
    font-size: 1.6rem;
    padding: 0vh;
  }
  .ultima-sessao{
    height: 60vh;
  }
  #avaliacaoPsc{
    height: 60vh;
  }
  #textoTerapiaCasal{
    height: 60vh;
  }
}

@media only screen and (max-width: 680px) {
  #textoCasal{
    margin-top: 20px;
  }
  .textoCasal h1{
    font-size: 1.2rem;
  }
  .textoCasal h3{
    font-size: 1rem;
  }
  .textoCasal h4{
    font-size: 0.9rem;
  }

}

@media only screen and (max-width: 630px) {
  #textoInicial p{
    padding: 7px;
    font-size: 0.8rem;
  }
  #textoInicial h1{
    font-size: 1.2rem;
  }
  #box img{
    width: 38%;
  }
  #box{
    height: 35vh !important;
  }
 
  .cards{
    height: 290px !important;
    margin-bottom: 10px;
  }
  #cards p{
    font-size: 0.8rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 10%;
  }
  #box{
    height: 35vh !important;
  }
  #boxServicos h1{
    font-size: 1.2rem;
  }
  #boxServicos  h3{
    font-size: 1rem;
  }
  #boxServicos p{
    font-size: 0.9rem;
  }
  #quartaSessao .caixaTexto{
    text-align: center;
    padding: 15px;
  }
}



    
@media only screen and (max-width: 550px) {
  #textoInicial p{
    padding: 7px;
    font-size: 0.8rem;
  }
  #textoInicial h1{
    font-size: 0.9rem;
  }
  #box img{
    width: 45%;
  }
  .cards{
    height: 350px;
  }
  #cards p{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 10%;
  }
  .cards{
    height: 330px;
    margin-bottom: 10px;
  }
  #box{
    height: 54vh !important;
  }
  .p-0{
    display: none;
  }
  #terceiraSessao{
    padding-top: 0px;
  }

}

@media only screen and (max-width: 425px) {
  #textoInicial p{
    padding: 7px;
    font-size: 0.7rem;
  }
  #textoInicial h1{
    font-size: 1rem;
  }
  *{
    font-size: 17px;
  }
  #textoInicial{
    margin-top: 12%;
  }
  .cards p{
    font-size: 0.1rem;
  }
  #box{
    height: 45vh !important;
  }
  #cards h3{
    font-size: 1.1rem;
  }
  #cards p{
    font-size: 0.8rem;
  }
  .terapia{
    height: 35%;
  }
  #ultima-sessao{
    height: 30vh;
  }

  #ultima-sessao h4{
    font-size: 0.7rem;
    padding: 0vh;
  }
}

@media only screen and (max-width: 375px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.7rem;
  }
  #cards{
    margin-top: 5px;
  }
  .cards{
    height: 300px;
    margin-bottom: 10px;
  }
  #cards p{
    font-size: 0.9rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
  #box{
    height: 44vh !important;
  }
  #quartaSessao .caixaTexto{
    padding: 25px;
  }
  #cards h3{
    font-size: 1.1rem;
  }
  #cards p{
    font-size: 0.7rem;
  }
  #ultima-sessao{
    height: 30vh;
  }

  #ultima-sessao h4{
    font-size: 0.7rem;
    padding: 0vh;
  }
  #nav a{
    font-size: 0.85rem;
   }

}

@media only screen and (max-width: 350px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.8rem;
  }
  *{
    font-size: 15px;
  }
  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 20%;
  }
  #ultima-sessao{
    height: 30vh;
  }
  #ultima-sessao h4{
    font-size: 0.7rem;
    padding: 0vh;
  }
 #nav a{
  font-size: 1rem;
 }
}

@media only screen and (max-width: 320px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.7rem;
  }
  *{
    font-size: 15px;
  }
  #cards{
    margin-top: 5px;
  }
  #cards p{
    font-size: 0.8rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 20%;
  }
  #boxServicos h1{
    font-size: 1.2rem;
  }
  #quartaSessao{
    padding: 15px;
  }
  #quartaSessao .caixaTexto{
    padding: 0px;
  }
  #boxServicos .caixaTexto h3{
    font-size: 0.9rem;
  }
  #boxServicos p{
    margin-top: 20px;
    font-size: 0.8rem;
  }
  #ultima-sessao{
    height: 30vh;
  }

  #ultima-sessao h4{
    font-size: 0.7rem;
    padding: 0vh;
  }
  #nav a{
    font-size: 0.9rem;
   }
}

@media only screen and (max-width: 290px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.7rem;
  }
  *{
    font-size: 15px;
  }
  #textoInicial{
    margin-top: 20%;
  }

  #cards{
    margin-top: 5px;
  }
  #cards p{
    font-size: 0.8rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 35%;
  }
  #ultima-sessao{
    height: 30vh;
  }

  #ultima-sessao h4{
    font-size: 0.7rem;
    padding: 0vh;
  }
  #nav a{
    font-size: 0.75rem;
   }
}

@media only screen and (max-width: 260px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.67rem;
  }
  *{
    font-size: 15px;
  }
  #textoInicial{
    margin-top: 40%;
  }

  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 2%;
  }
  #cards p{
    font-size: 0.76rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
  #ultima-sessao{
    height: 30vh;
  }

  #ultima-sessao h4{
    font-size: 0.7rem;
    padding: 0vh;
  }
  #nav a{
    font-size: 0.7rem;
   }
}

@media only screen and (max-width: 237px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.6rem;
  }
  *{
    font-size: 15px;
  }
  #textoInicial{
    margin-top: 40%;
  }

  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 17%;
  }
  #cards p{
    font-size: 0.7rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
  .cards{
    height: 270px;
  }
  #box{
    height: 40vh !important;
  }
  #ultima-sessao{
    height: 30vh;
  }

  #ultima-sessao h4{
    font-size: 0.7rem;
    padding: 0vh;
  }
  #nav a{
    font-size: 0.6rem;
   }
}


@media only screen and (max-width: 217px) {
  #textoInicial p{
    padding: 4px;
    font-size: 0.6rem;
  }
  *{
    font-size: 15px;
  }
  #textoInicial{
    margin-top: 40%;
  }

  #cards{
    margin-top: 5px;
  }
  #textoInicial{
    margin-top: 17%;
  }
  #cards p{
    font-size: 0.6rem;
  }
  #cards h3{
    font-size: 1rem;
  }
  #textoInicial{
    margin-top: 25%;
  }
  .cards{
    height: 220px;
  }
  #box{
    height: 40vh !important;
  }
  #nav a{
    font-size: 0.6rem;
   }
}