@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  cursor: default;
  text-decoration: none;
  text-underline-offset: none;

}


body { overflow-x: hidden; }

/*Primeira sessão*/
#container{
  height: 75vh !important;
}

#textoInicial{
  padding: 20px;
  margin-top: 15%;
  z-index: 2;
}

#textoInicial p{
  padding: 10px;
  font-size: 1.1rem;
}

#inicio{
  position: absolute;
  background: url("../img/imagem-inicio.jpg");
  background-size: cover ;
  background-attachment: fixed;
  width: 100%;
  height: 100vh !important;
  z-index: 1;
}

#nav {
  background: rgb(240, 201, 201);
  color: #460404;;
}
#textoInicial{
  background: rgb(240, 201, 201);
  color: #460404;;
}


/*Segunda sessão*/
#box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f0c9c9;
  height: 47vh !important;
}

#box img{
  border-radius: 50%;
  width: 15%;
  margin-top: 30px;
  margin-bottom: 20px;
  animation: fade ;
  animation-timeline: view();
}

#segundaSessao{
  margin-top: 25vh;
}

#terceiraSessao{
  background: #f0c9c9;
  height: 47vh !important;
}

.cards{
  background: #731425;
  border-radius: 5px;
  border: 1px solid black;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  padding-top: 10px;
  color: #F0C9C9;
  margin: 10px;
  transition: 1s;
}
.cards:hover{
  box-shadow: 2px 2px 10px 5px #0000009f;
  transition: 1s;
}
.cor3s{
  background-color:#F0C9C9;
}

i{
  transition: 1s;
}
span i:hover{
  font-size: 1.2rem;
  cursor: default;
}

#cards{
  margin-top: 20px;
  animation: fade ;
  animation-timeline: view();
}

#quartaSessao{
  padding: 50px;
  background: #D99B96;
}

#quartaSessao .caixaTexto{
  text-align: center;
  padding: 50px;
}

#boxServicos h1{
  color: #731425;
  font-weight: 800;
}

#boxServicos h3{
  color: #731425;
  font-weight: 700;
}
#boxServicos p{
  color: #731425;
  text-decoration: dashed;
  font-weight: 600;
}



#boxServicos{
  animation: teste 3s cover;
}

#boxServicos{
  animation: appear 1ms ease-in-out;
  animation-timeline: view();
  animation-range:cover 0% cover 28% ;

}

.terapia-casal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F0C9C9;
  height: 65vh;
  color: #731425;
}

.terapia{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #731425;
  height: 65vh;
  color: #F0C9C9;
}

#imgCasal{
  width: 100%;
  height: 65vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/fotoCasal-ilustrativo.webp");
  transition: 0.5s;
  filter: blur(2px);
  transform: scale(6px);
}

#imgTerapia{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("../img/imagem-atendimento.jpg");
  transition: 0.5s;
  filter: blur(2px);
}

#textoCasal{
  h1{
    
    font-weight: 900
  };
  h3{
   
    font-weight: 700
  };
  p{
    font-size: 1.4rem;

    a{
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.avaliacao{
  overflow: hidden;
}

#imgCasal:hover{
  filter: blur(0px);
  transform: scale(6px);
  transition: 0.5s;
}

#imgTerapia:hover{
  filter: blur(0px);
  transform: scale(6px);
  transition: 0.5s;
}

#carouselExampleIndicators{
  height: 45vh;
    display: flex;
    align-items: center;
}

#carousel h4{
  padding-left: 20vw;
  padding-right: 20vw;
}

#sextaSessao{
  background: #460404;
  color: #F0C9C9;
}

#textoTerapiaCasal{
  animation: appear2 1ms ease-in-out;
  animation-timeline: view();
  animation-range:cover 0% cover 28% ;
}

#avaliacaoPsc{
  animation: appear3 1ms ease-in-out;
  animation-timeline: view();
  animation-range:cover 0% cover 28% ;
}

#ultima-sessao{
  background: #ffe0dc;
  color: #460404;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.ultima-sessao{
  background: #ffe0dc;
}

#cont-links{
  margin-top: 20px;
  cursor: pointer;
}

#cont-links2{
  margin-top: 10px;
  cursor: pointer;
  transition: 1s;
}

#cont-links svg{
  margin: 10px;
  transition: 1s;
  cursor: pointer;
}

svg:hover{
  color: #cc8282;
  transition: 1s;
}

@keyframes appear{
  from{
    opacity: 0;
    translate: 100vw 0;
  }
  to{
    opacity: 1;
    translate: 0vh 0;
  }
}

@keyframes appear2{
  from{
    opacity: 0;
    translate: -100vw 0;
  }
  to{
    opacity: 1;
    translate: 0vh 0;
  }
}

@keyframes appear3{
  from{
    opacity: 0;
    translate: 100vw 0;
  }
  to{
    opacity: 1;
    translate: 0vh 0;
  }
}

@keyframes fade{
 0%{
  opacity: 0;
  transform: translate();
 }
 65%{
  opacity: 1;
  transform: translate();
 }
}